.tags-category-searchfilterpage {
    display: flex;
    align-items: center;
    width: 100%;
    height: auto;
    min-height: 80px;
    padding: 0 50px;
    margin: 0 0 20px 0;
    border-bottom: 1px solid rgba(163, 163, 163, 0.507);
    /* box-shadow: 0 -7px 12px 10px rgba(163, 163, 163, 0.507); */
    background-color: rgb(255, 255, 255);
}

.title-tags-category-searchfilterpage {
    display: flex;
    width: auto;
    min-width: 125px;
    height: auto;
    font-weight: 500;
    color: #7C7C7C;
    /* background-color: aquamarine; */
}

.title-search-post-searchfilterpage {
    display: 'flex';
    width: 100%;
    height: 50px;
    margin: 0 50px;
    font-size: 24px;
    color: #7C7C7C;
    font-weight: 500;
}

.area-tags-category-searchfilterpage {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 100%;
    margin-left: 10px;
    /* background-color: rgb(255, 44, 44); */
}

.rows-title-searchfilterpage {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 50px;
    width: 100%;
    height: 61px;
    color: #999999;
}

.search-post-searchfilterpage, .tags-post-searchfilterpage, .area-post-searchfilterpage{
    display: grid;
    justify-content: center;
    grid-template-columns: 282px 282px 282px 282px;
    margin-bottom: 10px;
    gap: 24px 14px;
    width: 100%;
    height: auto;
    background-color: #F5F5F5;
}