.container-selectfilter {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    width: 275px;
    height: 100%;
    /* background-color: darkcyan; */
    margin-right: 20px;
}

.title-selectfilter {
    font-size: 18px;
    font-weight: bold;
}

.select-selectfilter {
    margin-top: 10px;
    width: 275px;
    height: 29px;
}