.area-content-qandapage {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: auto;
    padding: 0 75px;
    min-height: 83.3vh;
    background-color: #F5F5F5;
}

.title-rule {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    width: 100%;
    height: 40px;
}

.detail-howto-qandapage ol { counter-reset: item }
.detail-howto-qandapage ol li{ display: block }
.detail-howto-qandapage ol li:before { content: counters(item, ".") " "; counter-increment: item }

.rows-howto-qandapage {
    display: flex;
    flex-direction: column;
    width: auto;
    height: auto;
}

.rows-howto-qandapage:last-child {
    margin-bottom: 50px;
}

.title-howto-qandapage {
    width: auto;
    height: auto;
    padding: 10px;
    font-size: 24px;
    color: #ffff;
    background-color: #8A4FA3;
    margin-top: 25px;
}

.detail-howto-qandapage {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    font-size: 17px;
    padding: 0 20px;
}

.detail-howto-qandapage li {
    margin-top: 15px;
}