.container-card-post {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 282px;
    height: 264px;
    background-color: #fff;
    padding: 4.45px 3.45px 10px 3.45px;
    border: none;
    border-radius: 6px;
    box-shadow: 0 0 10px 10px rgba(100, 100, 100, 0.021);
}

.image-card-post {
    width: 275.03px;
    height: 146.82px;
    border-radius: 6px;
    margin-bottom: 2px;
    border: none;
    background-color: darkgray;
}

.title-card-post {
    display: flex;
    justify-content: center;
    align-items: center;
    text-overflow: ellipsis;
    overflow: hidden;
    width: 275.15px;
    height: 38px;
    /* background-color: blueviolet; */
}

.place-card-post {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 14px;
    color: #525252;
    width: 100%;
    height: 35px;
    margin-bottom: 4px;
}

.area-card-post {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 24px;
    padding: 0 20px;
    /* background-color: aquamarine; */
}

.area-date-time-card-post {
    font-size: 12px;
    color: #525252;
}

.area-type-card-post {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 12px;
    font-weight: bold;
    width: auto;
    height: 24px;
    padding: 0 7px 2px 7px;
    background-color: #fff;
    border: 2px solid;
    border-radius: 4px;
}

.find {
    color: #FF740F;
    border-color: #FF740F;
}

.meet {
    color: #2ED384;
    border-color: #2ED384;
}