* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: NotoSans-Semi-B;
}
a {
  text-decoration: none;
}

a:active {
  color: #8A4FA3;
}

body {
  background-color: white;
  overflow-y: overlay;
}

.container-main {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: auto;
  min-height: 100vh;
  /* background-color: rgb(255, 161, 46); */
}

.navlink-text-none {
  text-decoration: none;
}

/* Tag div to in div will full scale*/
.div-full {
  width: 100%;
  height: 100%;
}
/* Tag img in div will full scale*/
.images-full {
  border: none;
  width: 100%;
  height: 100%;
}

.object-fit {
  object-fit: cover;
  cursor: pointer;
}
/* Tag div to center every page in project */
.container-center {
  display: flex;
  flex-direction: column;
  position: relative;
  padding-top: 153.91px;
  width: 1314px;
  height: auto;
  /* background-color: rgb(170, 214, 48); */
  box-shadow: 0 0 12px 5px rgba(0, 0, 0, 0.096);
  /* overflow: hidden; */
}

.find {
  color: #FF740F;
  border-color: #FF740F;
}

.meet {
  color: #2ED384;
  border-color: #2ED384;
}

.overflow-blur-color {
  position: absolute;
  right: 0;
  width: 50px;
  height: 100%;
  background-image: linear-gradient(90deg, rgba(25, 136, 247, 0) 0%,#f5f5f5de 50%, #F5F5F5 100%);
}

.back-drop {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 99999;
  background-color: rgba(0, 0, 0, 0.788);
  padding: 50px 0;
  width: 100vw;
  height: 100vh;
  cursor: pointer;
}

/* Test Code */
.test-card-post {
  width: 282px;
  height: 264px;
  background-color: rgb(255, 255, 255);
  border-radius: 6px;
  border: none;
  box-shadow: 0 0 10px 10px rgba(100, 100, 100, 0.021);
}

.test-img-fit-size {
  width: 1314px;
  height: 373px;
}

