* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  background-color: white;
}

.container-main {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: auto;
  min-height: 100vh;
  /* background-color: rgb(255, 161, 46); */
}

.images-full {
  width: 100%;
  height: 100%;
}

.container-center {
  position: relative;
  margin-top: 153.91px;
  width: 1314px;
  height: auto;
  background-color: rgb(170, 214, 48);
  box-shadow: 0 0 12px 5px rgba(0, 0, 0, 0.096);
  overflow: hidden;
}

/* Test Code */
.test-card-post {
  width: 282px;
  height: 264px;
  background-color: rgb(255, 255, 255);
  border-radius: 6px;
  border: none;
  box-shadow: 0 0 10px 10px rgba(100, 100, 100, 0.021);
}

.test-img-fit-size {
  width: 1314px;
  height: 373px;
}